@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  /* Brand color custom properties - Hipatia Palette */
  --color-brand-primary: #C69BFF;
  --color-brand-primary-hover: #a56eff; /* A slightly darker shade of Lila for hover */
  --color-brand-secondary: #E3F972;
  --color-brand-bg-light: #F6F3F0; /* Crema */
  --color-brand-text-dark: #464646; /* Marengo */
  --color-brand-border: #9ACEFF; /* Celeste for borders */
}

@layer base {
  body {
    @apply bg-[#F6F3F0] text-[#000000] font-sans antialiased;
  }
}
